<div class="card">
    <div class="card-header">
        <div class="col-xs-8">
            <h1>leeds, UK</p>
        </div>
        <div class="col-xs-4 text-xs-right">
            <h2>3&deg;</h2>
        </div>
    </div>
    <div class="card-block">
        <h2>0</h2>
        <p>Rain</p>
    </div>
    <div class="card-footer">
        <div class="col-xs-5">
            <p>Wind</p>
            <p>14mph</p>
        </div>
        <div class="col-xs-5 offset-xs-2">
            <p>Humidity</p>
            <p>80%</p>
        </div>
    </div>


</div>